

/*
--font-color
#333333
#9a9a9a
#dddddd

-- background
#dddddd
#ededed
#fdfdfd
*/

/* # # # # # # # # # # General # # # # # # # # # # */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #fdfdfd;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* # # # # # # # # # # Header # # # # # # # # # # */
.header {
    background-color: #dddddd;
}

.header h2 {
    color: #333333;
    
}

/* # # # # # # # # # # Navigation Bar # # # # # # # # # # */

#navbar {
    background-color: #9a9a9a;
}

#navbar ul{
    list-style: none;
    padding: 0;
    
}

#navbar li {
    display: inline;
    padding-right: 19%;  
}

#navbar a {
    color: #fdfdfd;
    text-decoration: none;
    font-size: 18px;
}

#navbar a:hover {
    color: #dddddd;
}

/* # # # # # # # # # # Hero Section # # # # # # # # # # */
#hero-section {
    color: #333333;
    height: 100%;
    min-height: 500px;
    /* background-color: pink; */
}

#hero-section {
    text-align: center;
    padding-top: 50px;
    display: block;
}

#hero-section h4, 
#hero-section h1, 
#hero-section p,
#hero-section .hero-section__button{
    margin: 40px;
}

#hero-section h1 {
    font-size: 5vh;
}

#hero-section h4 {
    font-size: 4vh;
    font-weight: 100;
}

.hero-section__button a {
    background-color: white;
    border-radius: 40px;
    border: #333333 solid 0.5px;
    color: #333333;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
}

.hero-section__button a:hover{
    background-color: #333333;
    color: white;
}

/* # # # # # # # # # # About me Section # # # # # # # # # # */

#about-me {
    height: 100%;
}

.about-me__p, 
.about-me__addt > div {
    border: 1px #9a9a9a solid;
    padding: 10px;
    margin: 10px;
    display: block;
}

.about-me__p img {
    max-width: 40vh;
    width: 100%;
    height: auto;
    border-radius: 100%;
    float: right;
}

.about-me__addt > div {
    float: left;
    max-width: 250px;
    width: 100%;
    height: auto;
    background-color: #dddddd;
    border-radius: 25px;
    height: 250px;
    padding: 15px 30px;
}

.about-me__addt-cv-button a {
    background-color: white;
    border-radius: 40px;
    border: #333333 solid 0.5px;
    color: #333333;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
}

.about-me__addt-cv-button a:hover{
    background-color: #333333;
    color: white;
}

#portfolio {
    /* background-color: #ededed; */
    width: 90%;
    margin:  50px auto;
    overflow: hidden;
}

.py-proj div,
.mobile-designs div,
.text-illus div {
    background-color: white;
    display: inline-block;
    margin: 10px;
    padding: 30px 20px;
    border-radius: 25px;
    text-align: center;
    max-width: 300px;
}

.py-proj div:hover,
.mobile-designs div:hover,
.text-illus div:hover {
    box-shadow: 5px 5px 50px #9a9a9a;
}

.py-proj img,
.mobile-designs img,
.text-illus img {
    max-height: 200px;
    height: 100%;
}